[submodule "vendor/vim-pathogen"]
	path = vendor/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vendor/badwolf"]
	path = vendor/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "vendor/nerdtree"]
	path = vendor/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vendor/lightline.vim"]
	path = vendor/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vendor/command-t"]
	path = vendor/command-t
	url = https://github.com/wincent/command-t.git
[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
